/__pycache__
/static/robots.txt
/static/supiefog.png
/static/supiemist.png
/static/lyric.png
/templates/renders.html
/templates/supie.html
/templates/supiemistblack.html
/templates/supiepurpmist.html
/templates/about.html