<!DOCTYPE html>
<html lang="en">

<head> <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 skrink-to-fit=no">
  <meta content="Microwave Bot Error Page" property="og:title" />
  <meta content="Oh no, it appears this page is restricted" property="og:description" />
  <meta content="static/bot.png" property="og:image" />
  <meta content="#ffffff" data-react-helmet="true" name="theme-color" />
  <link rel="stylesheet" href="/static/403.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="icon" href="static/favicon.png">
  <title>Oh No 403!</title>
<head\>

<body>
  <div class="message">You are not authorized.
  </div>
  <div class="message2">You tried to access a page you did not have prior authorization for.</div>
  <div class="container">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
      </div>
        <div class="handle">
          </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div> 
        </div>
      </div>  
    </div>
  </div>
    <script src="/static/team.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "80cb7c2056ad4a858be81dc43d7083e5"}'></script><!-- End Cloudflare Web Analytics -->
</body>
