<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 skrink-to-fit=no">
  <meta content="Microwave Bot Error Page" property="og:title" />
  <meta content="Hey, im a microwave not a tea pot or a coffee machine!" property="og:description" />
  <meta content="static/img/bot.png" property="og:image" />
  <meta content="#ffffff" data-react-helmet="true" name="theme-color" />
  <link rel="icon" href="static/img/favicon.png">
<head>

<body>
    <h2><strong>I am a microwave</strong></h2>
    <p>This server is a microwave not a teapot or a coffee machine</p>
    <script src="/static/js/team.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "80cb7c2056ad4a858be81dc43d7083e5"}'></script><!-- End Cloudflare Web Analytics -->
</body>