<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 skrink-to-fit=no">
  <meta content="Microwave Bot Error Page" property="og:title" />
  <meta content="Oh no, it appears there was a server error!" property="og:description" />
  <meta content="static/bot.png" property="og:image" />
  <meta content="#ffffff" data-react-helmet="true" name="theme-color" />
  <link rel="stylesheet" href="static/500.css">
  <link rel="icon" href="static/favicon.png">
  <script src="static/500.js"></script>
  <title>Oh No 500!</title>
<head>

<body>
    <div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
        <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
      </spaguetti>
    </div>
</body>