<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="Microwave Bot About Page" property="og:title" />
  <meta content="This page is for the about section for the dev team!" property="og:description" />
  <meta content="../static/img/favicon.png" property="og:image" />
  <meta content="#ffffff" data-react-helmet="true" name="theme-color" />
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../static/img/favicon.png">
  <title>Microwave Bot</title>
  <script src="https://betteruptime.com/widgets/announcement.js" data-id="137021" async="async" type="text/javascript"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WVDZ2973P4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WVDZ2973P4');
</script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="../static/img/bot.png" alt="" width="50" height="50" class="rounded-circle"> &nbsp; <span>Microwave Bot</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li>
            <a class="nav-link" aria-current="page" href="#/">About section</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://status.microwavebot.tech" target="_blank">Status Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:contact-us@microwavebot.tech">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="linksdrop" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Links
            </a>
            <ul class="dropdown-menu bgn" aria-labelledby="linksdrop">
              <li><a class="dropdown-item text-muted font-weight-bold" href="https://discord.com/oauth2/authorize?client_id=867964961417203743&scope=bot" target="_blank">Invite
                  Bot</a>
              <a class="dropdown-item text-muted font-weight-bold" href="https://discord.gg/invite/qbzgydHjjC" target="_blank">Support
                  Server</a>
                          <a class="dropdown-item text-muted font-weight-bold" href="https://github.com/galaxine-senpai/microwave" target="_blank">Github
                          repo</a>
                            <a class="dropdown-item text-muted font-weight-bold" href="/403">Error
                              403</a>
                              <a class="dropdown-item text-muted font-weight-bold" href="/404">Error
                                404</a>
                                <a class="dropdown-item text-muted font-weight-bold" href="/408">Error
                                  408</a>
                                  <a class="dropdown-item text-muted font-weight-bold" href="/500">Error
                                    500</a>
              </li>

          </li>
        </ul>
          </li>        
          </li>
        </div>
      </div>
    </div>
  </nav>
  </div>

  <div class="text-white text-center" style = "position:relative; top:50px">
    Welcome to the about page for the bot......
  </div>
  <div class="text-big text-white text-center" style="position: relative; top:350px">
    This page is under development and will be worked on soon
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "80cb7c2056ad4a858be81dc43d7083e5"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>